<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
           使用thymeleaf的步骤：
            1）导入 thymeleaf的坐标
            2）在application.yml中配置thymeleaf基础参数
            3) 在html5页面中，添加
                    <html xmlns:th="http://www.thymeleaf.org">
            4)进行测试
    -->
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" href="/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>
<table class="table table-hover table-striped">
    <tr>
        <th>菜单名称</th>
        <th>菜单链接</th>
        <th>菜单描述</th>
    </tr>
    <tr th:each="module : ${pageInfo.list}">
        <td th:text="${module.moduleName}"></td>
        <td th:text="${module.linkUrl}"></td>
        <td th:text="${module.moduleDesc}"></td>
    </tr>
</table>
</body>
</html>